@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.landing-container {
  font-family: 'Sen', sans-serif;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: 0;
  font-size: 40px;
  height: 15vh;
  font-weight: bold;
}

.description-container {
  font-family: 'Sen', sans-serif;
  padding: 10px;
  font-size: 30px;
  flex: 1;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  margin: 5%;
  
}

.features-container {
  text-align: center;
  padding: 30px;
  color: #CF4265;
  font-family: 'Sen', sans-serif;
}


.features-container .features {
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 10%;
}


.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #CF4265;
  font-size: 40px;
  height: 15vh;
}


.features-container {
  text-align: center;
  padding: 10px;
  font-size: 30px;
  padding: 5%;
  background-color: #ca5975;
  border-radius: 50px;
  margin: 10%;
}

.features {
  color: #ffffff;
  font-size: 20px;
}


.footer-container {
  background-color: #2e2e2e;
}

.about {
  text-align: center;
  color: #9385ec;
  font-size: 20px;
  background-color: rgba(65, 48, 218, 0.8);
  margin-bottom: 2%;
}

.team-members {
  display: grid;
  font-size: 15px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
}

.description-section {
  display: flex;
  align-items: center;
  font-family: 'Sen', sans-serif;
}

.signup {
  font-family: 'Sen', sans-serif;
  text-align: center;
  padding: 10px;
  color: #CF4265;
  font-size: 35px;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: bold;
}

.icon {
  font-size: 30px;
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  color: azure;
}

.icon:hover {
  color: #ce6680;
  transform: scale(1.2);
}

.main-image {
  border-radius: 3px;
  margin-bottom: 2%;
  margin-top: 2%;
  display: inline-block;
}
