.card-container {
  width: 45%;
  height: 50%;
  border: solid;
  border-radius: 5px;
  border-color: #4e4e4e;
  margin-left: 170px;
  margin-top: -11px; /*38 sin icono */
  text-align: center;
  font-family: "sourcesans3";
}

.medidas {
  min-height: 500px;
}

.transition-transform {
  transition-property: transform, box-shadow;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-in-out {
  transition-timing-function: ease-in-out;
}

.hover\\:scale-110:hover {
  transform: scale(1.1);
}

.card-container2 {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto; /* Horizontally center the card */
  margin-top: 49px;
  padding-top: 70px;
  padding-bottom: 2%;
  text-align: center;
}

.card-containerNO {
  width: 30px;

  border: solid;
  border-radius: 10px;
  border-color: #ecfdf5;
  margin-left: 320px;
  margin-top: 10px; /*38 sin icono */
  padding-top: 50px;
  padding-bottom: 500px;
  text-align: center;
}

.card-container2NO {
  width: 80%;
  border-radius: 10px;
  margin: 0 auto; /* Horizontally center the card */
  margin-top: 49px;
  padding-top: 70px;
  padding-bottom: 5%;
  text-align: center;
}

@media (max-width: 400px) {
  .alert-like {
    height: 10px;
    position: absolute;
  }
}
