#container {
  left: 0px;
  top: -100px;
  height: calc(100vh + 100px);
  overflow: hidden;
  position: relative;
}

#animate {
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}

#all {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
}
